In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/heart.csv")
df.sample(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
52,62,1,2,130,231,0,1,146,0,1.8,1,3,3,1
26,59,1,2,150,212,1,1,157,0,1.6,2,0,2,1
48,53,0,2,128,216,0,0,115,0,0.0,2,0,0,1
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2,1
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
209,59,1,0,140,177,0,1,162,1,0.0,2,1,3,0
270,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
246,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0
168,63,1,0,130,254,0,0,147,0,1.4,1,1,3,0

In [3]:
x = df.drop(columns=["target"])
y = df["target"]

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 8)

In [5]:
print(x_train.shape)

(242, 13)

In [6]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier

In [7]:
estimators = [
    ("rf", RandomForestClassifier(n_estimators=10, random_state=42)),
    ("knn", KNeighborsClassifier(n_neighbors=10)),
    ("gbdt", GradientBoostingClassifier())
]

In [8]:
from sklearn.ensemble import StackingClassifier

clf = StackingClassifier(
    estimators=estimators, 
    final_estimator=LogisticRegression(),
    cv=10
)

In [9]:
clf.fit(x_train, y_train)

StackingClassifier(cv=10,
                   estimators=[('rf',
                                RandomForestClassifier(n_estimators=10,
                                                       random_state=42)),
                               ('knn', KNeighborsClassifier(n_neighbors=10)),
                               ('gbdt', GradientBoostingClassifier())],
                   final_estimator=LogisticRegression())

In [10]:
y_pred = clf.predict(x_test)

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8688524590163934